.container{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    background: rgb(155, 155, 222);
}

.filterContainer{
    width: 90%;
    text-align: center;
    margin: auto;

    margin-top: 70px;
}
/* single card .container */
.cardContainer{
    transition: all .1s linear;

}
.cardContainer:hover{
    cursor: pointer;
scale: .99;
}

/* SinglePageContainer => single page css */
.SinglePageContainer{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: auto;
}
@media screen and (max-width:767px) {
    .SinglePageContainer{
        width: 100%;
        
    }
}

/* navabar */

  